.dashboard-container {
  display: flex;
  align-items: center;
  //margin: 40px auto;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  overflow: hidden;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .logout-container {
    position: absolute;
    left: 0;
    top: 0;

    button {
      margin: 0;
    }
  }
}

.dashboard-items {
  overflow-y: auto;

  max-height: 50vh; // adjust height as needed
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 4px; // optional, avoids scrollbar overlay
}

.dashboard-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dashboard-card {
  max-width: 500px;
  flex-grow: 1;
}

.dashboard-row button {
  width: 100px;
  height: 40px;
}